body
{
    font-family: 'Raleway', sans-serif;
   /* 
   background: #f2709c; 
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    background: linear-gradient(to right, #ff9472, #f2709c); 
    */
    
} 
